{% extends "admin/index.html" %}
{% load i18n %}

{% block extrastyle %}
    <style>
    .dashboard #content {
        width: unset;
    }
    </style>
{% endblock %}

{% block coltype %}{% endblock %}

{% block content_title %}<h1 style="text-align: center">{% trans "Choose module" %}</h1>{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %} </a>
{% endblock %}

{% block content %}
    <div id="content-main" style="text-align: center">
        <a href="{% url 'assets_admin:index' %}" class="button" style="padding: 50px; margin-right: 10px; margin-bottom: 10px; font-size: 20px; display: inline-block">{% trans 'Assets admin' %}</a>
        <a href="{% url 'admin:index' %}" class="button" style="padding: 50px; margin-right: 10px; margin-bottom: 10px; font-size: 20px;display: inline-block">{% trans 'Accounting' %}</a>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}