{% extends "admin/base.html" %}
{% load static i18n %}

{% block extrahead %}
    <script src="{% static "website/sync_database_button.js" %}" defer></script>
{% endblock %}

{% block userlinks %}
    {% if has_permission %}
        <a href="#" onclick="sync_database_button_click(this)">{% trans '&#128257; Synchroniseren met MoneyBird' %}</a> /
    {% endif %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    <a href="{% url 'admin:logout' %}" id="yourlogoutid">{% trans 'Log out' %} </a>
{% endblock %}

