{% load i18n %}
<style>
    .file-upload {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: stretch;
        overflow-y: scroll;
    }
    .file-upload form {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .file-upload form input[type=submit] {
        align-self: center;
    }
    .file-upload .filepond--panel-root {
        background-color: var(--darkened-bg);
    }
    .filepond--credits {
        display: none;
    }


</style>
<div class="file-upload">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <form method="post"> <!-- TODO make this wider on mobile, optimze UX -->
        {% csrf_token %}
        <div class="filepond">
            <input type="file"
               class="filepond"
               name="filepond"
               multiple
               data-allow-reorder="true"
               data-max-file-size="200MB"
               data-max-files="20">
        </div>
        <input type="submit" value="{% translate "Upload" %}">
    </form>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        FilePond.parse(document.body);
        FilePond.setOptions({
            dropOnPage: true,
            allowMultiple: true,
            allowReorder: true,
            allowPaste: true,
            allowBrowse: true,
            allowDrop: true,
            server: {
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: '/fp',
                process: '/process/',
                patch: '/patch/',
                revert: '/revert/',
                fetch: '/fetch/?target=',
                load: '/load/'
            },
            labelIdle: '{% translate 'Drag & Drop your files or' %} <span class="filepond--label-action"> {% translate 'Browse' %} </span>',
            labelInvalidField: "{% translate 'Field contains invalid files' %}",
            labelFileWaitingForSize: "{% translate 'Waiting for size' %}",
            labelFileSizeNotAvailable: "{% translate 'Size not available' %}",
            labelFileLoading: "{% translate 'Loading' %}",
            labelFileLoadError: "{% translate 'Error during load' %}",
            labelFileProcessing: "{% translate 'Uploading' %}",
            labelFileProcessingComplete: "{% translate 'Upload complete' %}",
            labelFileProcessingAborted: "{% translate 'Upload cancelled' %}",
            labelFileProcessingError: "{% translate 'Error during upload' %}",
            labelFileProcessingRevertError: "{% translate 'Error during revert' %}",
            labelFileRemoveError: "{% translate 'Error during remove' %}",
            labelTapToCancel: "{% translate 'tap to cancel' %}",
            labelTapToRetry: "{% translate 'tap to retry' %}",
            labelTapToUndo: "{% translate 'tap to undo' %}",
            labelButtonRemoveItem: "{% translate 'Remove' %}",
            labelButtonAbortItemLoad: "{% translate 'Abort' %}",
            labelButtonRetryItemLoad: "{% translate 'Retry' %}",
            labelButtonAbortItemProcessing: "{% translate  'Cancel' %}",
            labelButtonUndoItemProcessing: "{% translate  'Undo' %}",
            labelButtonRetryItemProcessing: "{% translate 'Retry' %}",
            labelButtonProcessItem: "{% translate 'Upload' %}",
        });
    </script>
</div>
