{% load i18n %}
<style>
    #content-related .module table {
        display: block;
    }
</style>

<div class="module">
    <h2 style="margin-bottom: 0">⚖️ {% translate "Ledger accounts" %}</h2>
    <table>
        <thead>
        <tr>
            <th style="white-space: break-spaces">{% translate "balance" %}</th>
            <th>{% translate "total" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for ledger_account, value in asset.get_balance_ledger_account_amounts.items %}
            <tr>
                <td style="white-space: normal">{{ ledger_account }}</td>
                <td>{{ value }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">{% translate "Not on ledger accounts" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <th style="white-space: break-spaces">{% translate "results" %}</th>
            <th>{% translate "total" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for ledger_account, value in asset.get_results_ledger_account_amounts.items %}
            <tr>
                <td style="white-space: normal">{{ ledger_account }}</td>
                <td>{{ value }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">{% translate "Not on balance" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>