{% load i18n %}
<div class="module">
    <h2>💭 {% translate "Remarks" %}</h2>
    <table>
        <thead>
        <tr>
            <th style="width: unset; white-space: nowrap">{% translate "date" %}</th>
            <th>{% translate "remark" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for remark in asset.remarks.all %}
            <tr>
                <td style="width: unset; white-space: nowrap">{% ifchanged %}{{ remark.date|default_if_none:'' }}{% endifchanged %}</td>
                <td style="white-space: break-spaces">{{ remark.remark }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">{% translate "No remarks" %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <div style="display: inline-block; margin: 5px">
                            {% trans "New status" %}: {{ status_form.local_status }}
                        </div>
                        <div style="display: inline-block; margin: 5px">
                            {% trans "New location" %}: {{ status_form.location }}
                        </div>
                        <div style="display: inline-block; margin: 5px">
                            {% trans "Location nr." %}: {{ status_form.location_nr }}
                        </div>
                    </div>
                    <textarea name="remark" id="remark" placeholder="{% translate "Add remark" %}" rows="3" style="float: left; margin: 5px; width: 80%"></textarea><br>
                    <input type="submit" value="{% translate "Save" %}" class="button" style="margin: 5px">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
