{% load i18n %}
<style>
    #content-related .module table {
        display: block;
    }
</style>

<div class="module">
    <h2 style="margin-bottom: 0">📝 {% translate "Tickets" %}</h2>
    <table>
        <thead>
        <tr>
            <th style="width: unset">{% translate "date" %}</th>
            <th style="width: unset; white-space: nowrap">{% translate "Ticket id" %}</th>
            <th style="width: unset; white-space: nowrap">{% translate "Contact" %}</th>
            <th>{% translate "Description" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in asset.tickets.all reversed %}
            <tr>
                <td>{% ifchanged %}{{ remark.date }}{% endifchanged %}</td>
                <td style="width: unset; white-space: nowrap"><a href="{{ ticket.get_absolute_url }}">{{ ticket }}</a></td>
                <td style="width: unset; white-space: nowrap">{{ ticket.contact }}</td>
                <td>{{ ticket.description }}</td>
                <td>{% if ticket.closed %}{{ ticket.closed_at }}{% else %}{% if ticket.due_date %}{% translate "due" %} {{ ticket.due_date }}{% else %}{% translate "open" %}{% endif %}{% endif %}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">{% translate "No tickets" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>