{$LANDOLFIO_ALLOWED_HOSTS} {

    handle_path /static* {
        root * /website/static
        file_server
    }

    handle {
        reverse_proxy website:80 {
        	@accel header X-Accel-Redirect *

            handle_response @accel {
                # The Django server asked us to serve a file

                # First set it as the current target
                rewrite {http.reverse_proxy.header.X-Accel-Redirect}

                # We only know how to serve /media for the Django server
                handle_path /media* {
                    root * /website/media
                    file_server
                }
            }
        }
    }
}
