{% load i18n %}
<script>
    Fancybox.bind('[data-fancybox="gallery"]',
        {
            Toolbar: {
                display: [
                    { id: "counter", position: "center" },
                    "slideshow",
                    "fullscreen",
                    "download",
                    "thumbs",
                    "close",
                ],
            },
            Thumbs: {
                autoStart: true,
            },
            l10n: {
                CLOSE: "{% translate "Close" %}",
                NEXT: "{% translate "Next" %}",
                PREV: "{% translate "Previous" %}",
                MODAL: "{% translate "You can close this modal content with the ESC key" %}",
                ERROR: "{% translate "Something Went Wrong, Please Try Again Later" %}",
                IMAGE_ERROR: "{% translate "Image Not Found" %}",
                ELEMENT_NOT_FOUND: "{% translate "HTML Element Not Found" %}",
                AJAX_NOT_FOUND: "{% translate "Error Loading AJAX : Not Found" %}",
                AJAX_FORBIDDEN: "{% translate "Error Loading AJAX : Forbidden" %}",
                IFRAME_ERROR: "{% translate "Error Loading Page" %}",
            },
        }
    );
</script>
<style>
    .carousel .carousel__slide {
        background-size: contain;
        height: 400px;
        color: #fff;
        font-size: 3em;
        overflow-y: hidden;
    }
    .carousel .carousel__slide img {
        background: white;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #content-main .module h2 {
        display: block;
        border-bottom: 1px solid var(--hairline-color);
        font-size: 18px;
    }
    #content-main .module {
        background-color: var(--darkened-bg);
        padding-bottom: 8px;
        margin: 0 0 30px;
    }

</style>

<div class="module" style="padding-bottom: 10px">
    <h2>{% translate "Attachment" %}</h2>
    <div class="carousel">
        {% for photo in asset.attachments.all %}
            <div class="carousel__slide">
                <img data-lazy-src="{{ photo.attachment.url }}" href="{{ photo.attachment.url }}" data-fancybox="gallery" data-caption="{{ photo.upload_date}} · {{ photo.attachment.name }}" alt="{{ photo.attachment.name }}"/>
            </div>
        {% endfor %}
        <div class="carousel__slide">
            {% include "assets_admin/includes/file_upload.html" %}
        </div>
    </div>
</div>

<script>
    const carousel = new Carousel(document.querySelector(".carousel"), {
        'l10n': {
            NEXT: "{% translate "Next" %}",
            PREV: "{% translate "Previous slide" %}",
            GOTO: "{% translate "Go to slide %d" %}",
        }
    });
</script>



