{% load i18n %}
<style>
    #content-main .module {
        padding-bottom: 0;
    }
    #content-main .module table {
        display: block;
        overflow-x: scroll;
    }
</style>

<div class="module">
    <h2>{% translate "Estimates" %}</h2>
    <table>
        <thead>
            <tr>
                <th style="width: unset">{% translate "id" %}</th>
                <th style="width: unset; white-space: nowrap">{% translate "date" %}</th>
                <th style="width: unset">{% translate "contact" %}</th>
                <th style="width: unset">{% translate "workflow" %}</th>
                <th style="width: unset">{% translate "status" %}</th>
                <th>{% translate "description" %}</th>
                <th>{% translate "total" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for estimate_line in asset.estimate_document_line_assets.all|dictsortreversed:"date" %}
                <tr>
                    <td>
                        <a href="{{ estimate_line.document_line.document.moneybird_url }}" target="_blank" style="white-space: nowrap;">
                            {{ estimate_line.document_line.document|default_if_none:"" }}
                        </a>
                    </td>
                    <td>{{ estimate_line.date|default_if_none:"" }}</td>
                    <td>
                        <a href="{{ estimate_line.contact.moneybird_url }}" target="_blank" style="white-space: nowrap;">
                            {{ estimate_line.contact|default_if_none:"" }}
                        </a>
                    </td>
                    <td>{{ estimate_line.document_line.document.workflow|default_if_none:"" }}</td>
                    <td>{{ estimate_line.document_line.document.state|default_if_none:"" }}</td>
                    <td>{{ estimate_line.description|default_if_none:"" }}</td>
                    <td>{{ estimate_line.value|default_if_none:"" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">{% translate "No estimates" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
