{% load i18n %}
<style>
    #content-main .module {
        padding-bottom: 0;
    }
    #content-main .module table {
        display: block;
        overflow-x: scroll;
    }
</style>

<div class="module">
    <h2>Journal documents</h2>
    <table>
        <thead>
        <tr>
            <th style="width: unset">{% translate "id" %}</th>
            <th style="width: unset; white-space: nowrap">{% translate "date" %}</th>
            <th style="width: unset">{% translate "contact" %}</th>
            <th style="width: unset">{% translate "status" %}</th>
            <th>{% translate "description" %}</th>
            <th>{% translate "total" %}</th>
            <th>{% translate "ledger account" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for journal_document_line in asset.journal_document_line_assets.all|dictsortreversed:"date" %}
            <tr>
                <td>
                    <a href="{{ journal_document_line.document_line.document.moneybird_url }}" target="_blank" style="white-space: nowrap;">
                        {{ journal_document_line.document_line.document|default_if_none:"" }}
                    </a>
                </td>
                <td style="width: unset; white-space: nowrap">{{ journal_document_line.date|default_if_none:"" }}</td>
                <td>
                    <a href="{{ journal_document_line.contact.moneybird_url }}" target="_blank" style="white-space: nowrap;">
                        {{ journal_document_line.contact|default_if_none:"" }}
                    </a>
                </td>
                <td>{{ journal_document_line.document_line.document.state|default_if_none:"" }}</td>
                <td>{{ journal_document_line.description|default_if_none:"" }}</td>
                <td>{{ journal_document_line.value|default_if_none:"" }}</td>
                <td>{{ journal_document_line.ledger_account|default_if_none:"" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">{% translate "No journal documents" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
