{% load static i18n %}

<style>
    .img {
        float: right;
    }
    #content-related {
        background: unset;
    }
    #content-related .module {
        background: var(--darkened-bg);
    }
    #content-related .module {
        margin-bottom: 30px;
    }
    #content-related .module h2 {
        background: var(--primary);
        color: var(--header-link-color);
    }
    #content-related .module h2 a {
        float: right;
        background: var(--button-hover-bg);
    }
    #content-related .module h2 a:hover, #content-related .module h2 a:active {
        background: var(--button-bg);
    }
    #content-related h3 {
        margin: .8em 0 0;
    }
    .sidebar-icon {
        vertical-align: middle;
    }
</style>

<div class="module" style="padding-bottom: 8px">
    <h2>{{ asset.id }}<a class="button small" href="{% url 'admin:inventory_asset_change' asset.pk %}">{% translate "Edit" %}</a></h2>
    <ul>
        <li><strong>{% translate "category"|capfirst %}:</strong> {{ asset.category|default_if_none:"-" }}</li>
        <li><strong>{% translate "size"|capfirst %}:</strong> {{ asset.size|default_if_none:"-" }}</li>
        <li><strong>{% translate "collection"|capfirst %}:</strong> {{ asset.collection|default_if_none:"-" }}</li>
        <li><strong>{% translate "location"|capfirst %}:</strong> {{ asset.location|default_if_none:"-" }}</li>
        <li><strong>{% translate "listing price"|capfirst %}:</strong> {{ asset.listing_price|default_if_none:"-" }}</li>
        <li><strong>{% translate "local status"|capfirst %}:</strong> {{ asset.local_status|default_if_none:"-" }}</li>
        <li><strong>{% translate "Moneybird status"|capfirst %}:</strong> {{ asset.moneybird_status|default_if_none:"-" }}</li>
        {% if asset.check_moneybird_errors %}
            <li><strong>{% translate "Moneybird errors"|capfirst %}:</strong>
                <ul>
                    {% for error in asset.check_moneybird_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
    <hr>
    <ul>
        <li><strong>{% translate "margin"|capfirst %}:</strong> <img src="{% if asset.is_margin %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li><strong>{% translate "amortized"|capfirst %}:</strong> <img src="{% if asset.amortized %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li><strong>{% translate "sold"|capfirst %}:</strong> <img src="{% if asset.sold %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li><strong>{% translate "rented"|capfirst %}:</strong> <img src="{% if asset.is_rented %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li><strong>{% translate "has rental agreement"|capfirst %}:</strong> <img src="{% if asset.has_rental_agreement %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li><strong>{% translate "has loan agreement"|capfirst %}:</strong> <img src="{% if asset.has_loan_agreement %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
    </ul>
    <hr>
    <ul>
        <li><strong>{% translate "assets value"|capfirst %}:</strong> {{ asset.total_assets_value|default_if_none:"" }} </li>
        <li><strong>{% translate "purchase value"|capfirst %}:</strong> {{ asset.purchase_value|default_if_none:"" }} </li>
        <li><strong>{% translate "total expenses"|capfirst %}:</strong> {{ asset.total_expenses_value|default_if_none:"" }} </li>
        <li><strong>{% translate "total revenue"|capfirst %}:</strong> {{ asset.total_revenue_value|default_if_none:"" }} </li>
    </ul>
</div>
