{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
    <ul class="object-tools" style="float:right;">
        <li>
            <a href="{% url "admin:inventory_asset_add" %}" class="addlink">
                {% translate "Add asset" %}
            </a>
        </li>
    </ul>
    <div id="content-main">
        {% include "admin/inventory/asset/overview/includes/categories_module.html" %}
        {% include "admin/inventory/asset/overview/includes/locations_module.html" %}
        {% include "admin/inventory/asset/overview/includes/collections_module.html" %}
    </div>
{% endblock %}

{% block content_title %}<h1>{% translate "Inventory" %}</h1>{% endblock %}
{% block title %}{{ block.super }} | {% translate "Inventory" %}{% endblock %}

{% block sidebar %}
    <div id="content-related">
        <div class="module">
            <h2>{% translate 'Recently created assets' %}</h2>
            <ul class="actionlist">
                {% for asset in recent_assets %}
                    <li class="addlink">
                        <a href="{% url "admin:inventory_asset_view" asset.id %}">{{ asset.name }}</a>
                        <br>
                        <span class="mini quiet">{{ asset.category.name_singular }} · {{ asset.collection }} · {{ asset.size }}</span>
                        <br>
                        <span class="mini quiet">{% translate "created at"|capfirst %} {{ asset.created_at }}</span>
                    </li>
                {% endfor %}
             </ul>
        </div>
    </div>
{% endblock %}

{% block nav-sidebar %}
    {% if show_assets_sidebar %}
    {% include 'admin/inventory/asset/overview/includes/index-nav-sidebar.html' %}
    {% else %}
    {{ block.super }}
    {% endif %}
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        {% include "admin/inventory/asset/overview/includes/category_breadcrumbs.html" %}
    {% endblock %}
{% endif %}
