{% load i18n %}

<div class="module">
    <table>
        <caption>
            <a href="{% url 'admin:inventory_category_changelist' %}" class="section" title="categories">📦 {% translate "categories"|capfirst %}</a>
        </caption>
        {% for category in categories %}
            <tr class="">
                <th scope="row"><a href="{% url "admin:inventory_asset_overview_changelist" %}?category__id__exact={{ category.id }}">{{ category.name }}</a></th>
                <td style="float: right">{{ category.asset_set.all.count }}</td>
            </tr>
        {% empty %}
            <tr>
                <th scope="row">{% translate "No categories" %}</th>
                <td style="float: right">-</td>
            </tr>
        {% endfor %}
    </table>
</div>
