{% load static i18n %}
<style>
    #content-main .module {
        padding-bottom: 0;
    }
    #content-main .module table {
        display: block;
        overflow-x: scroll;
    }
</style>

<div class="module">
    <h2>🔁 {% translate "Recurring sales invoices" %}</h2>
    <table>
        <thead>
        <tr>
            <th style="width: unset; white-space: nowrap">{% translate "start date" %}</th>
            <th style="width: unset">{% translate "contact" %}</th>
            <th style="width: unset">{% translate "workflow" %}</th>
            <th style="width: unset">{% translate "active" %}</th>
            <th style="width: unset">{% translate "frequency" %}</th>
            <th>{% translate "description" %}</th>
            <th>{% translate "total" %}</th>
            <th>{% translate "ledger account" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for document_line in asset.recurring_sales_invoice_document_lines.all|dictsortreversed:"document.start_date" %}
            <tr>
                <td>
                    <a href="{{ document_line.document.moneybird_url }}" target="_blank" style="white-space: nowrap;">
                        {{ document_line.document|default_if_none:"" }}
                    </a>
                </td>
                <td>
                    <a href="{{ document_line.contact.moneybird_url }}" target="_blank" style="white-space: nowrap;">
                        {{ document_line.contact|default_if_none:"" }}
                    </a>
                </td>
                <td>{{ document_line.document.workflow|default_if_none:"" }}</td>
                <td><img src="{% if document_line.document.active %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></td>
                <td>{{ document_line.document.frequency }} {{ document_line.document.frequency_type }}</td>
                <td>{{ document_line.description|default_if_none:"" }}</td>
                <td>{{ document_line.value|default_if_none:"" }}</td>
                <td>{{ document_line.ledger_account|default_if_none:"" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">{% translate "No recurring sales invoices" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
