<div class="module">
    <h2>Remarks</h2>
    <table>
        <thead>
        <tr>
            <th style="width: unset">Date</th>
            <th>Remark</th>
        </tr>
        </thead>
        <tbody>
        {% for remark in asset.remarks.all %}
            <tr>
                <td>{% ifchanged %}{{ remark.date }}{% endifchanged %}</td>
                <td style="white-space: break-spaces">{{ remark.remark }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No remarks</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <textarea name="remark" id="remark" placeholder="Add remark" rows="3" style="float: right; width: 100%"></textarea><br>
                    <input type="submit" style="float: right; margin-top: 5px;">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
</div>
