{% load static %}

<style>
    .img {
        float: right;
    }
    #content-related {
        background: unset;
    }
    #content-related .module {
        background: var(--darkened-bg);
    }
    #content-related .module {
        margin-bottom: 30px;
    }
    #content-related .module h2 {
        background: var(--primary);
    }
    #content-related .module h2 a {
        float: right;
        background: var(--body-bg);
    }
    #content-related .module h2 a:hover, #content-related .module h2 a:active {
        background: var(--button-hover-bg);
    }
    #content-related h3 {
        margin: .8em 0 0;
    }
    .sidebar-icon {
        vertical-align: middle;
    }
</style>

<div class="module" style="padding-bottom: 8px">
    <h2>{{ asset.id }}<a class="button small" href="{% url 'admin:inventory_asset_change' asset.pk %}">Edit</a></h2>
    <ul>
        <li>Category: {{ asset.category|default_if_none:"-" }}</li>
        <li>Size: {{ asset.size|default_if_none:"-" }}</li>
        <li>Collection: {{ asset.collection|default_if_none:"-" }}</li>
        <li>Location: {{ asset.location|default_if_none:"-" }}</li>
        <li>Listing price: {{ asset.listing_price|default_if_none:"-" }}</li>
        <li>Moneybird status: {{ asset.moneybird_status|default_if_none:"-" }}</li>
        {% if asset.check_moneybird_errors %}
            <li>Moneybird errors:
                <ul>
                    {% for error in asset.check_moneybird_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
    <br>
    <ul>
        <li>Margin: <img src="{% if asset.is_margin %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li>Amortized: <img src="{% if asset.amortized %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li>Has rental agreement: <img src="{% if asset.has_rental_agreement %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li>Has loan agreement: <img src="{% if asset.has_loan_agreement %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li>Is rented: <img src="{% if asset.is_rented %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
        <li>Is sold: <img src="{% if asset.sold %}{% static 'admin/img/icon-yes.svg' %}{% else %}{% static 'admin/img/icon-no.svg' %}{% endif %}" alt="None" class="sidebar-icon"></li>
    </ul>
    <br>
    <ul>
        <li>Purchase value: {{ asset.purchase_value|default_if_none:"" }} </li>
        <li>Assets value: {{ asset.total_assets_value|default_if_none:"" }} </li>
        <li>Total expenses: {{ asset.total_expenses_value|default_if_none:"" }} </li>
        <li>Total revenue: {{ asset.total_revenue_value|default_if_none:"" }} </li>
    </ul>
</div>
