{% extends "page.html" %}
{% load i18n bootstrap5 static %}
{% translate "Submit" as submit %}

{% block title %}
    {% blocktrans %}Success - New customer{% endblocktrans %} - {{ block.super }}
{% endblock %}

{% block header %}
    <h2>{% blocktrans %}Registration successful{% endblocktrans %}</h2>
    <p class="lead">
        {% blocktrans trimmed %}
            We've successfully received your data. We will contact you as soon as possible.
        {% endblocktrans %}
    </p>
    <p class="lead">
        {% blocktrans trimmed %}
            If you have any questions, please contact us at <a href="mailto:contact@vofdoesburg.nl">contact@vofdoesburg.nl</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
