{% extends "admin/change_form.html" %}
{% load static %}
{% block content %}
   {{ block.super }}

   <h1>Related documents</h1>

   <ul>
   {% for document in related_documents %}
      <li>
         <input type="button"
            onclick="window.location.href=
            '{% url 'admin:accounting_document_change' document.id %}';"
            value="Go to {{ document }} local"
         >
         <input type="button"
            style="background-color:#417690;"
            onclick="window.location.href='{{ document.moneybird_url }}';"
            value="Go to {{ document }} Moneybird"
         >
      </li>
   {% endfor %}
   </ul>
{% endblock %}
