{% load i18n %}

<div class="module">
    <table>
        <caption>
            <a href="#" class="section" title="categories">{% translate "categories"|capfirst %}</a>
        </caption>
        {% for category in categories %}
            <tr class="">
                <th scope="row"><a href="{% url "assets_admin:inventory_asset_changelist" %}?category__id__exact={{ category.id }}">{{ category.name }}</a></th>
                <td style="float: right">{{ category.asset_set.all.count }} {% translate "assets" %}</td>
            </tr>
        {% endfor %}
    </table>
</div>
