{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
    <meta name="format-detection" content="telephone=no"/>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin' %}">{% trans 'admin' %}</a> /
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %} </a>
{% endblock %}


{% if not is_popup %}
    {% block breadcrumbs %}
        {% include "assets_admin/includes/category_breadcrumbs.html" %}
    {% endblock %}
{% endif %}


{% block nav-sidebar %}
    {% include 'assets_admin/index-nav-sidebar.html' %}
{% endblock %}
