{% load i18n %}

<div class="module">
    <table>
        <caption>
            <a href="#" class="section" title="collections">{% translate "collections"|capfirst %}</a>
        </caption>
        {% for collection in collections %}
            <tr class="">
                <th scope="row"><a href="{% url "assets_admin:inventory_asset_changelist" %}?collection__id__exact={{ collection.id }}">{{ collection.name }}</a></th>
                <td style="float: right">{{ collection.asset_set.all.count }} {% translate "assets" %}</td>
            </tr>
        {% endfor %}
    </table>
</div>
