{% extends "admin/index.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <meta name="format-detection" content="telephone=no"/>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin' %}">{% trans 'Accounting' %}</a> /
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %} </a>
{% endblock %}

{% block content %}
    <ul class="object-tools" style="float:right;">
        <li>
            <a href="{% url "assets_admin:inventory_asset_add" %}" class="addlink">
                {% translate "Add asset" %}
            </a>
        </li>
    </ul>
    <div id="content-main">
        {% include "assets_admin/categories_module.html" %}
        {% include "assets_admin/locations_module.html" %}
        {% include "assets_admin/collections_module.html" %}
    </div>
{% endblock %}

{% block content_title %}<h1>{% translate "Assets admin" %}</h1>{% endblock %}

{% block sidebar %}
    <div id="content-related">
        <div class="module">
            <h2>{% translate 'Recently created assets' %}</h2>
            <ul class="actionlist">
                {% for asset in recent_assets %}
                    <li class="addlink">
                        <a href="{% url "assets_admin:view_asset" asset.id %}">{{ asset.id }}</a>
                        <br>
                        <span class="mini quiet">{{ asset.category.name_singular }} · {{ asset.collection }} · {{ asset.size }}</span>
                        <br>
                        <span class="mini quiet">{% translate "created at"|capfirst %} {{ asset.created_at }}</span>
                    </li>
                {% endfor %}
             </ul>
        </div>
    </div>
{% endblock %}